
body {
    background: #121212;
    color: #fff;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
}
#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#container-1 {
    width:50%;
    
}
#container-1 h1 {
    padding: 40px 20px;
    padding-left: 20px;
}


#container-2 {
    width: 50%;
    
}
#container-2 img {
    width: 100%;
}

